<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <style>

        body{
            overflow-x: hidden;
        }

        #root{
            width: 900px;
            margin: 0 auto;
        }
        footer{
            width: 100vw;
            background: rgb(235, 235, 235);
            text-align: center;
            padding: 2.5rem 0;
            margin: 1.2rem 0 auto;
        }

    </style>

    <div id="root">
    {% block body %}
    
    {% endblock body %}
    </div>
    <footer>Made with &#9749; and <a href="https://github.com/blazephoenix/manticore">Manticore</footer>
</body>
</html>